

:root {
	--document.body.style.transform = 'scale(' +67+ ')';
	--system-font: system-ui, sans-serif;
	--bg-color: #F9F8D2;
	--item-color: #ebebeb;
	--border-color: black;
	--footer-color: #dd6d98;
	--text-color: #black;
	--text-muted-color: #9c9c9c;
	--accent-color: rgb(135,124,157);
	--h1-size: 50px;
	--h2-size: 40px;
	--text-size: 25px;
	--strong-size: 14px;
	--line-height: 1.6;
	--line-height-sm: 1.2;
	--base: 5px;
	--gutter: 4rem;
	--round: 0.4em;
	--round-lg: 0.7em;
	--time: 0.2s ease-out;
	--time-lg: 0.6s ease-out;
	--blur: blur(10rem) saturate(180%);
	--shadow: 0 2rem 10rem rgba(103, 67, 137);
	--overlay: rgba(0, 0, 0, 0.2);
}


* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	display: inline-block;
	margin: 10;
}

p {
	margin: 10;
	
}

svg {
	display: block;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

input, textarea, button {
	border: none;
	background: none;
	padding: 0;
	font: inherit;
}

:focus {
	outline: none;
}



::selection {
	background: var(--accent-color);
	color: #fff;
}

li {
	list-style-position: inside;
}

button {
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
}

html {
	font-size: var(--base);
	scroll-behavior: smooth;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
	font-family: var(--system-font);
	font-size: var(--text-size);
	line-height: var(--line-height);
	overflow-x: hidden;
	min-width: 320px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body footer {
	margin-top: auto;
}

h1, h2, h3 {
	line-height: var(--line-height-sm);
	font-weight: 700;
}

h1 {
	font-size: var(--h1-size);
}

h2 {
	font-size: var(--h2-size);
}

h3 {
	font-size: var(--h3-size);
}

strong {
	font-weight: 500;
}



.container {
	width: 240rem;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 calc(var(--gutter) / 2);
	
}



.bg-overlay {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.bg-overlay::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: var(--overlay);
	z-index: -1;
}



.logo {
	transition: var(--time) transform, var(--time-lg) opacity;
}

.logo img {
	width: 50rem;
	height: 10rem;
}

.logo:hover {
	opacity: 0.8;
	transform: scale(1.05);
}



.main {
	padding: 30rem 0;
}



.nav {
	box-shadow: var(--shadow);
	padding: 3rem 0;
	position: sticky;
	top: 0;
	z-index: 2;
}

@supports (backdrop-filter: var(--blur)) {
	.nav {
		background-color: #A4A4A2;
		backdrop-filter: var(--blur);
	}
}

@supports not (backdrop-filter: var(--blur)) {
	.nav {
		background: #fff;
	}
}



.inline {
	display: flex;
	column-gap: 4rem;
	row-gap: 2rem;
	align-items: center;
	flex-wrap: wrap;
	
}

.inline_between {
	width: 100%;
	justify-content: space-between;
}

.inline_sm {
	column-gap: 2rem;
}



.btn {
	background: var(--accent-color);
	color: #fff;
	border: 1px solid var(--accent-color);
	padding: 2rem;
	border-radius: var(--round);
	user-select: none;
	line-height: 1;
	transition: var(--time) opacity;
	 cursor: pointer;
}

.btn_outline {
	background: transparent;
	
	
 font-size: 100%;
 padding: .3em .7em;
text-decoration:none;
background:rgb(135,124,157);
  border-radius: 7px;
}

.btn:hover {
	opacity: 0.8;
}



.text-muted {
	color: var(--text-muted-color);
}



.header {
	background: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100rem;
	display: flex;
	align-items: center;
	
}





.section:not(:last-child) {
	margin-bottom: 30rem;
}

.section__heading {
	text-align: center;
	margin-bottom: 6rem;
}

.section__heading .text-muted {
	margin-top: 1rem;
}

.section__line {
	width: 100%;
	height: 1px;
	border: 10px solid var(--accent-color);
	background: var(--border-color);
	border-radius: var(--round);
}



.article {
	border-radius: var(--round-lg);
	display: grid;
	align-content: start;
	gap: 4rem;
}

.article_bg {
	background: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 6rem;
	color: #fff;
}

@supports (backdrop-filter: var(--blur)) {
	.article_bg::before {
		backdrop-filter: var(--blur);
	}
}



.features {
	display: flex;
	gap: calc(var(--gutter) * 2);
}

.features__img {
	width: 60rem;
	height: 60rem;
	object-fit: cover;
	box-shadow: var(--shadow);
	border-radius: var(--round);
}



.products {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#products .section__line {
	margin-top: 6rem;
}

.products__filter {
	margin-bottom: 6rem;
	
}

.products__filter .btn {
	flex: 1;
}

.products__list {
	width: 80%;
	display: grid;
	align-content: start;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--gutter);
}



.card {
	border-radius: var(--round-lg);
	overflow: hidden;
	border: 2px solid var(--border-color);
	
}

.card__img {
	width: 100%;
	height: 60rem;
	object-fit: cover;
}

.card__content {
	display: grid;
	align-content: start;
	gap: 3rem;
	padding: 5rem;
	background-color: #ebebeb
}

.card__price {
	color: var(--accent-color);
	
}

.card__text {
	display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}



.consultants {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: calc(var(--gutter) * 2);
	row-gap: var(--gutter);
}

#consultants .section__line {
	margin-bottom: 5rem;
}



.person {
	width: 45rem;
	display: grid;
	align-content: start;
	gap: 1rem;
	text-align: center;
}

.person__img {
	width: 35rem;
	height: 35rem;
	border-radius: 70%;
	object-fit: cover;
	margin: 0 auto;
}

.person__name {
	margin-top: 5rem;
	display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}



.brands {
	background: var(--item-color);
	padding: 8rem 0;
}

.brands__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	column-gap: calc(var(--gutter) * 2);
	row-gap: var(--gutter);
}







.newsletter {
	box-shadow: var(--shadow);
	border-radius: var(--round-lg);
	background:#black; 
	padding: 6rem;
}

.newsletter__title {
	margin-bottom: 7rem;
}

.newsletter__form {
	display: grid;
	align-content: start;
	gap: 8rem;
}



.input {
	border: 1px solid var(--border-color);
	border-radius: var(--round);
	padding: calc(2rem - 1.5px) 2rem;
	line-height: 1;
	transition: var(--time) opacity;
}

.input:hover {
	opacity: 0.8;
}

.input::placeholder {
	color: var(--text-muted-color);
}


.about {
	display: grid;
	grid-template: auto / 1fr auto;
	gap: var(--gutter);
}

@supports (backdrop-filter: var(--blur)) {
	#about {
		margin-top: 10rem;
		background: no-repeat;
		background-size: cover;
		background-position: center;
		padding: 20rem 0;
	}
	
	#about .section__heading,
	#about .section__heading .text-muted {
		color: #fff;
	}

	#about .newsletter {
		box-shadow: none;
	}
}

@supports not (backdrop-filter: var(--blur)) {
	#about {
		background-image: none !important;
	}

	#about.bg-overlay::before {
		content: none;
	}
}




.wrapper {
    display: flex;
}

.wrapper > div {
    flex: 1;
}









footer {background-color: #373737;clear: both;color: #fff;padding: 50px 20px;}
footer a {color: #eff;}




.anchor {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--item-color);
	box-shadow: var(--shadow);
	border: 2px solid var(--border-color);
	position: fixed;
	right: 6rem;
	bottom: 6rem;
	z-index: 3;
}
a.knopka{
color:black;
 font-size: 100%;
 padding: .3em .7em;
text-decoration:none;
background:rgb(135,124,157);
  border-radius: 7px;
}
.show {
  display: block;
}
  .container {
  overflow: hidden;
  
 
}